.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #edefee;
    border-radius: 16pt 16pt 0 0; 
    width: 250px;
}

.card-image-container {
    height: 150px;
    width: auto;
    overflow: hidden;
}

.card-image {
    border-radius: 16pt 16pt 0 0; 
}

.card-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-name {
    color: black;
    font-size: 1.5rem;
}

.card-description {
    color: #495E57;
    font-size: 14pt;
}

.card-price {
    color: #EE9972;
    font-size: 16pt;
    font-weight: medium;
}

.card-icon {
    padding: 0 20px;
    margin-top: auto;
    /* margin-bottom: 0; */
}