section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
}

section .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

section .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    width: 80%;
}

@media screen and (width <= 500px) {

    .specials-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    section .card-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }

    section .main-header {
        justify-content: center;
        align-items: center;
    }

    .main-button {
        display: none;
    }
}