
.header-container {
    display: flex;
    flex-direction: row;
    background-color: #495e57;
    width: 100%;
    padding-bottom: 5%;
    justify-content: center;
}

.header-container section {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-right: 3rem;
    width: 60%;
}

.header-container .title-image-container {
    max-height: 500px;
    width: auto;
    overflow: hidden;
    border-radius: 16pt;
    margin-right: 10%; 
    transform: translateY(20%);
}

.header-container .title-image {
    max-height: 500px;
}

.header-container .title {
    /* font-size: 60pt; */
    margin-bottom: 0;
}

.header-container .subtitle {
    /* font-size: 40pt; */
    margin-top: 0;
}

.header-container .title-text {
    font-size: 16pt;
    line-height: 1.5;
    /* font-weight: regular; */
    color: #EDEFEE;
    max-width: 65ch;
}

@media screen and (width <= 768px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        /* background-color: #495e57;
        width: 100%;
        padding-bottom: 5%; */
    }

    .header-container section {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        padding-right: 3rem;
    }

    .header-container img {
        display: none;
        margin-right: 10%;
        transform: translateY(30px);
        height: 120%;
        border-radius: 16px;
    }
}
