footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2rem;
    margin-top: 0;
}

footer img {
    position: relative;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}