
.rating {
    grid-area: stars;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 40pt;
    /* padding-left: 1rem; */
}

.image {
    grid-area: picture;
    border: 1px solid black;
    height: "50px";
    width: "50px";
}

.reviewer {
    grid-area: name;
    font-size: 18pt;
    font-weight: bold;
}

.review {
    grid-area: text;
    font-size: 16pt;
    color: #495E57;
}

.review-card {
    display: grid;
    grid-template-areas: 
        "stars stars"
        "picture name"
        "text text";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    border: 2px solid #ccc;
    gap: 1rem;
    padding: 1rem;
    width: 200px;
    height: 500px;
    /* background-color: blue; */
}

.review-card .image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.review-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .review-card {
        width: auto;
        height: auto;
        /* background-color: green; */
    }
}