footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

footer img {
    position: relative;
}

footer li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    margin: 0;
}