h1.title {
    font-family: 'Markazi Text', serif;
    font-size: 2rem;
    color: #F4CE14;
}

h2.subtitle {
    font-family: 'Markazi Text', serif;
    font-size: 1.5rem;
}

p.title-text {
    color: #EDEFEE;
}

h3, h4, h5, h6, p, li, a, button, nav {
    font-family: 'Karla', sans-serif;
}

button {
    background-color: #F4CE14;
}

