nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    /* flex-wrap: wrap; */
    margin-top: 15px;
    margin-bottom: 15px;
}

nav img {
    width: 30%;
}

nav ul {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    padding: 1rem;    
}

#logo-top-small {
    display: none;
}

@media screen and (max-width: 1300px) {
    nav {
        width: 100%;
    }

    #logo-top-small {
        display: block;
        width: 100px;
        margin: auto;
    }

    #logo-top-full {
        display: none;
    }
}
    

